.content{
  margin-left: 100px;
    margin-right: 100px;
}
.top img{
    width: 250px;
    height: 80px;
    float: left;
}
.sousuo {
    float: left;
    height: 250px;
    padding-left: 100px;
    width: 900px;
}
.category{

}

